# üìä **New York Times Comments Dataset Analysis**
This notebook analyzes the New York Times Comments dataset available on Kaggle.
We will extract metadata, check for missing values, and summarize the structure of the dataset before proceeding with text analysis.

## **üìå Step 1: Setup the Environment**
We start by importing the necessary libraries and listing all available files in the dataset.

In [1]:
import os
import pandas as pd

# Set path to dataset (Kaggle users should adjust as needed)
dataset_path = "/kaggle/input/nyt-comments"

# List all files in the dataset
files = os.listdir(dataset_path)
print("Files in dataset:\n", files)

Files in dataset:
 ['CommentsFeb2018.csv', 'ArticlesFeb2017.csv', 'CommentsApril2018.csv', 'ArticlesJan2017.csv', 'ArticlesMay2017.csv', 'CommentsJan2017.csv', 'CommentsMarch2017.csv', 'CommentsMay2017.csv', 'CommentsMarch2018.csv', 'CommentsApril2017.csv', 'ArticlesMarch2017.csv', 'ArticlesApril2017.csv', 'CommentsFeb2017.csv', 'ArticlesJan2018.csv', 'ArticlesFeb2018.csv', 'ArticlesMarch2018.csv', 'CommentsJan2018.csv', 'ArticlesApril2018.csv']

## **üìå Step 2: Load & Inspect Data**
Let's load files (e.g., `ArticlesJan2017.csv` and `CommentsApril2017.csv`) to inspect its structure.

In [2]:
# Load an example file to inspect its structure
sample_file = "ArticlesJan2017.csv"  # You can change this to any file in the dataset
df = pd.read_csv(os.path.join(dataset_path, sample_file))

# Display first few rows
df.head()

,articleID,abstract,byline,documentType,headline,keywords,multimedia,newDesk,printPage,pubDate,sectionName,snippet,source,typeOfMaterial,webURL,articleWordCount
0,58691a5795d0e039260788b9,NaN,By JENNIFER STEINHAUER,article,G.O.P. Leadership Poised to Topple Obama‚Äôs Pi...,"['United States Politics and Government', 'Law...",1,National,1,2017-01-01 15:03:38,Politics,The most powerful and ambitious Republican-led...,The New York Times,News,https://www.nytimes.com/2017/01/01/us/politics...,1324
1,586967bf95d0e03926078915,NaN,By MARK LANDLER,article,Fractured World Tested the Hope of a Young Pre...,"['Obama, Barack', 'Afghanistan', 'United State...",1,Foreign,1,2017-01-01 20:34:00,Asia Pacific,A strategy that went from a ‚Äúgood war‚Äù to the ...,The New York Times,News,https://www.nytimes.com/2017/01/01/world/asia/...,2836
2,58698a1095d0e0392607894a,NaN,By CAITLIN LOVINGER,article,Little Troublemakers,"['Crossword Puzzles', 'Boxing Day', 'Holidays ...",1,Games,0,2017-01-01 23:00:24,Unknown,Chuck Deodene puts us in a bubbly mood.,The New York Times,News,https://www.nytimes.com/2017/01/01/crosswords/...,445
3,5869911a95d0e0392607894e,NaN,By JOCHEN BITTNER,article,"Angela Merkel, Russia‚Äôs Next Target","['Cyberwarfare and Defense', 'Presidential Ele...",1,OpEd,15,2017-01-01 23:30:27,Unknown,"With a friend entering the White House, Vladim...",The New York Times,Op-Ed,https://www.nytimes.com/2017/01/01/opinion/ang...,864
4,5869a61795d0e03926078962,NaN,By JIAYIN SHEN,article,Boots for a Stranger on a Bus,"['Shoes and Boots', 'Buses', 'New York City']",0,Metro,12,2017-01-02 01:00:02,Unknown,Witnessing an act of generosity on a rainy day.,The New York Times,Brief,https://www.nytimes.com/2017/01/01/nyregion/me...,309

In [9]:
# Load an example file to inspect its structure
sample_file_2 = "CommentsApril2017.csv"  # You can change this to any file in the dataset
df_2 = pd.read_csv(os.path.join(dataset_path, sample_file_2))

# Display first few rows
df_2.head()

<ipython-input-9-5a2998bf1dac>:3: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(os.path.join(dataset_path, sample_file_2))

,approveDate,commentBody,commentID,commentSequence,commentTitle,commentType,createDate,depth,editorsSelection,parentID,...,userLocation,userTitle,userURL,inReplyTo,articleID,sectionName,newDesk,articleWordCount,printPage,typeOfMaterial
0,1491245186,This project makes me happy to be a 30+ year T...,22022598.0,22022598,<br/>,comment,1.491237e+09,1,False,0.0,...,"Riverside, CA",NaN,NaN,0,58def1347c459f24986d7c80,Unknown,Insider,716.0,2,News
1,1491188619,Stunning photos and reportage. Infuriating tha...,22017350.0,22017350,NaN,comment,1.491180e+09,1,False,0.0,...,<br/>,NaN,NaN,0,58def1347c459f24986d7c80,Unknown,Insider,716.0,2,News
2,1491188617,Brilliant work from conception to execution. I...,22017334.0,22017334,<br/>,comment,1.491179e+09,1,False,0.0,...,Raleigh NC,NaN,NaN,0,58def1347c459f24986d7c80,Unknown,Insider,716.0,2,News
3,1491167820,NYT reporters should provide a contributor's l...,22015913.0,22015913,<br/>,comment,1.491150e+09,1,False,0.0,...,"Missouri, USA",NaN,NaN,0,58def1347c459f24986d7c80,Unknown,Insider,716.0,2,News
4,1491167815,Could only have been done in print. Stunning.,22015466.0,22015466,<br/>,comment,1.491147e+09,1,False,0.0,...,"Tucson, Arizona",NaN,NaN,0,58def1347c459f24986d7c80,Unknown,Insider,716.0,2,News

## **üìå Step 3: Extract Metadata**
Now, we extract key metadata, such as column names, data types, and missing values.

In [4]:
# Display dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   articleID         850 non-null    object
 1   abstract          40 non-null     object
 2   byline            850 non-null    object
 3   documentType      850 non-null    object
 4   headline          850 non-null    object
 5   keywords          850 non-null    object
 6   multimedia        850 non-null    int64
 7   newDesk           850 non-null    object
 8   printPage         850 non-null    int64
 9   pubDate           850 non-null    object
 10  sectionName       850 non-null    object
 11  snippet           850 non-null    object
 12  source            850 non-null    object
 13  typeOfMaterial    850 non-null    object
 14  webURL            850 non-null    object
 15  articleWordCount  850 non-null    int64
dtypes: int64(3), object(13)
memory usage: 106.4+ KB

In [10]:
# Display dataset information
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243832 entries, 0 to 243831
Data columns (total 34 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   approveDate            243832 non-null  int64
 1   commentBody            243832 non-null  object
 2   commentID              243832 non-null  float64
 3   commentSequence        243832 non-null  int64
 4   commentTitle           228498 non-null  object
 5   commentType            243832 non-null  object
 6   createDate             243832 non-null  float64
 7   depth                  243832 non-null  int64
 8   editorsSelection       243832 non-null  bool
 9   parentID               243832 non-null  float64
 10  parentUserDisplayName  70526 non-null   object
 11  permID                 243832 non-null  object
 12  picURL                 243832 non-null  object
 13  recommendations        243832 non-null  float64
 14  recommendedFlag        0 non-null       float64
 15  replyCount             243832 non-null  float64
 16  reportAbuseFlag        0 non-null       float64
 17  sharing                243832 non-null  int64
 18  status                 243832 non-null  object
 19  timespeople            243832 non-null  float64
 20  trusted                243832 non-null  float64
 21  updateDate             243832 non-null  int64
 22  userDisplayName        243755 non-null  object
 23  userID                 243832 non-null  int64
 24  userLocation           243770 non-null  object
 25  userTitle              41 non-null      object
 26  userURL                5 non-null       object
 27  inReplyTo              243832 non-null  int64
 28  articleID              243832 non-null  object
 29  sectionName            243832 non-null  object
 30  newDesk                243832 non-null  object
 31  articleWordCount       243832 non-null  float64
 32  printPage              243832 non-null  int64
 33  typeOfMaterial         243832 non-null  object
dtypes: bool(1), float64(10), int64(8), object(15)
memory usage: 61.6+ MB

## **üìå Step 4: Check for Missing Values**
Checking for missing values in each column.

In [5]:
# Check for missing values
missing_values = df.isnull().sum()
missing_values[missing_values > 0]

abstract    810
dtype: int64

In [11]:
# Check for missing values
missing_values_2 = df_2.isnull().sum()
missing_values_2[missing_values_2 > 0]

commentTitle              15334
parentUserDisplayName    173306
recommendedFlag          243832
reportAbuseFlag          243832
userDisplayName              77
userLocation                 62
userTitle                243791
userURL                  243827
dtype: int64

## **üìå Step 5: Summary Statistics**
Generate a summary of numeric and categorical columns.

In [6]:
# Display summary statistics
df.describe(include="all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
articleID,850,850,58691a5795d0e039260788b9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
abstract,40,40,"After losing three limbs in Afghanistan, a Mar...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
byline,850,434,By THE EDITORIAL BOARD,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
documentType,850,2,article,810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
headline,850,774,Unknown,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
keywords,850,717,[],73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
multimedia,850.0,NaN,NaN,NaN,0.927059,0.260193,0.0,1.0,1.0,1.0,1.0
newDesk,850,28,OpEd,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN
printPage,850.0,NaN,NaN,NaN,7.077647,10.100022,0.0,0.0,1.0,12.0,66.0
pubDate,850,786,2017-02-02 08:21:23,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sectionName,850,30,Unknown,598,NaN,NaN,NaN,NaN,NaN,NaN,NaN
snippet,850,846,"Look closely at this image, stripped of its ca...",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
source,850,2,The New York Times,844,NaN,NaN,NaN,NaN,NaN,NaN,NaN
typeOfMaterial,850,11,News,513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
webURL,850,850,https://www.nytimes.com/2017/01/01/us/politics...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
articleWordCount,850.0,NaN,NaN,NaN,1062.878824,895.597064,25.0,612.5,923.5,1291.0,8784.0

In [12]:
# Display summary statistics
df_2.describe(include="all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
approveDate,243832.0,NaN,NaN,NaN,1492504461.72283,1330667.064463,1491008047.0,1491783853.25,1492437034.5,1493119511.0,1524346252.0
commentBody,243832,243169,Well said.,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
commentID,243832.0,NaN,NaN,NaN,22188608.516839,185515.004384,21999548.0,22092910.75,22176681.5,22260467.5,26824246.0
commentSequence,243832.0,NaN,NaN,NaN,22188608.516839,185515.004384,21999548.0,22092910.75,22176681.5,22260467.5,26824246.0
commentTitle,228498,1,<br/>,228498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
commentType,243832,3,comment,173277,NaN,NaN,NaN,NaN,NaN,NaN,NaN
createDate,243832.0,NaN,NaN,NaN,1492495336.431272,1328516.276157,1491006872.0,1491768493.75,1492428038.0,1493086582.25,1524345694.0
depth,243832.0,NaN,NaN,NaN,1.289425,0.453641,1.0,1.0,1.0,2.0,3.0
editorsSelection,243832,2,False,238159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parentID,243832.0,NaN,NaN,NaN,6416284.403421,10055291.992253,0.0,0.0,0.0,22051084.75,26426201.0
parentUserDisplayName,70526,15712,John,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
permID,243832,243832,22022598,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
picURL,243832,4282,https://graphics8.nytimes.com/images/apps/time...,201781,NaN,NaN,NaN,NaN,NaN,NaN,NaN
recommendations,243832.0,NaN,NaN,NaN,17.625172,93.219419,0.0,1.0,3.0,9.0,7938.0
recommendedFlag,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
replyCount,243832.0,NaN,NaN,NaN,0.405734,1.944378,-115.0,0.0,0.0,0.0,361.0
reportAbuseFlag,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sharing,243832.0,NaN,NaN,NaN,0.086371,0.280912,0.0,0.0,0.0,0.0,1.0
status,243832,1,approved,243832,NaN,NaN,NaN,NaN,NaN,NaN,NaN
timespeople,243832.0,NaN,NaN,NaN,0.999643,0.018886,0.0,1.0,1.0,1.0,1.0
trusted,243832.0,NaN,NaN,NaN,0.033576,0.180136,0.0,0.0,0.0,0.0,1.0
updateDate,243832.0,NaN,NaN,NaN,1492505796.335194,1330736.099802,1491008947.0,1491787044.0,1492437385.5,1493122001.25,1524346252.0
userDisplayName,243755,46510,John,1214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
userID,243832.0,NaN,NaN,NaN,49557503.00269,23381533.206869,1045.0,32195826.0,57198758.0,67699953.75,85678080.0
userLocation,243770,15890,NYC,7292,NaN,NaN,NaN,NaN,NaN,NaN,NaN
userTitle,41,9,Your Money columnist,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
userURL,5,1,http://www.nytimes.com/column/the-walking-dead...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inReplyTo,243832.0,NaN,NaN,NaN,6416193.792542,10055250.263762,0.0,0.0,0.0,22051083.25,26426201.0
articleID,243832,886,58ebb1437c459f24986d96ed,5181,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sectionName,243832,31,Unknown,137928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
newDesk,243832,28,OpEd,82519,NaN,NaN,NaN,NaN,NaN,NaN,NaN
articleWordCount,243832.0,NaN,NaN,NaN,1293.667451,946.593427,57.0,828.0,1124.0,1385.0,7832.0
printPage,243832.0,NaN,NaN,NaN,9.458652,11.138473,0.0,1.0,2.0,20.0,74.0
typeOfMaterial,243832,11,News,130770,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **üìå Step 6: Check for Unique Identifiers**
Find columns that can be used as unique identifiers.

In [7]:
# Check if any column can be used as a unique identifier
unique_counts = df.nunique()
unique_counts

articleID           850
abstract             40
byline              434
documentType          2
headline            774
keywords            717
multimedia            2
newDesk              28
printPage            43
pubDate             786
sectionName          30
snippet             846
source                2
typeOfMaterial       11
webURL              850
articleWordCount    689
dtype: int64

In [13]:
# Check if any column can be used as a unique identifier
unique_counts_2 = df_2.nunique()
unique_counts_2

approveDate              115718
commentBody              243169
commentID                243832
commentSequence          243832
commentTitle                  1
commentType                   3
createDate               228348
depth                         3
editorsSelection              2
parentID                  41494
parentUserDisplayName     15712
permID                   243832
picURL                     4282
recommendations            1232
recommendedFlag               0
replyCount                   79
reportAbuseFlag               0
sharing                       2
status                        1
timespeople                   2
trusted                       2
updateDate               136865
userDisplayName           46510
userID                    62946
userLocation              15890
userTitle                     9
userURL                       1
inReplyTo                 41494
articleID                   886
sectionName                  31
newDesk                      28
articleWordCount            680
printPage                    51
typeOfMaterial               11
dtype: int64

## **üìå Step 7: Automate Metadata Extraction for All Files**
Instead of manually inspecting each file, we automate metadata extraction for all files.

In [8]:
# Iterate over all files and extract metadata
metadata_summary = []

for file in files:
    file_path = os.path.join(dataset_path, file)
    df = pd.read_csv(file_path)

    metadata_summary.append({
        "File Name": file,
        "Rows": df.shape[0],
        "Columns": df.shape[1],
        "Missing Values": df.isnull().sum().sum(),
        "Duplicate Rows": df.duplicated().sum(),
        "Unique Columns": df.nunique().to_dict(),
    })

# Convert metadata summary to DataFrame for better readability
metadata_df = pd.DataFrame(metadata_summary)
metadata_df

<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (14,15,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (14,15,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (14,15,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-8-a0b18595323b>:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,File Name,Rows,Columns,Missing Values,Duplicate Rows,Unique Columns
0,CommentsFeb2018.csv,215282,34,1018593,0,"{'approveDate': 158054, 'articleID': 1155, 'ar..."
1,ArticlesFeb2017.csv,885,16,855,0,"{'articleID': 885, 'abstract': 30, 'byline': 4..."
2,CommentsApril2018.csv,264924,34,1240919,0,"{'approveDate': 196777, 'articleID': 1351, 'ar..."
3,ArticlesJan2017.csv,850,16,810,0,"{'articleID': 850, 'abstract': 40, 'byline': 4..."
4,ArticlesMay2017.csv,996,16,963,0,"{'abstract': 33, 'articleID': 996, 'articleWor..."
5,CommentsJan2017.csv,231449,34,1114483,0,"{'approveDate': 106710, 'articleID': 850, 'art..."
6,CommentsMarch2017.csv,260967,34,1249140,0,"{'approveDate': 115903, 'articleID': 949, 'art..."
7,CommentsMay2017.csv,276389,34,1322148,0,"{'approveDate': 160236, 'commentBody': 275493,..."
8,CommentsMarch2018.csv,246915,34,1331416,0,"{'approveDate': 187256, 'articleID': 1385, 'ar..."
9,CommentsApril2017.csv,243832,34,1164061,0,"{'approveDate': 115718, 'commentBody': 243169,..."
10,ArticlesMarch2017.csv,949,16,918,0,"{'abstract': 30, 'articleID': 949, 'articleWor..."
11,ArticlesApril2017.csv,886,16,864,0,"{'abstract': 22, 'articleID': 886, 'articleWor..."
12,CommentsFeb2017.csv,233407,34,1128697,0,"{'approveDate': 100268, 'articleID': 885, 'art..."
13,ArticlesJan2018.csv,905,16,894,0,"{'abstract': 11, 'articleID': 905, 'articleWor..."
14,ArticlesFeb2018.csv,1155,15,0,0,"{'articleID': 1155, 'byline': 650, 'documentTy..."
15,ArticlesMarch2018.csv,1385,15,0,0,"{'articleID': 1385, 'byline': 783, 'documentTy..."
16,CommentsJan2018.csv,203199,34,959348,0,"{'approveDate': 148322, 'articleID': 1030, 'ar..."
17,ArticlesApril2018.csv,1324,15,0,0,"{'articleID': 1324, 'articleWordCount': 934, '..."

## **üîç Conclusion**
This notebook provides insights into the dataset structure, missing values, and metadata, making it ready for further text processing and LSTM-based text generation analysis.